/* CSS styles for the entire page container */
body {
  font-family: Arial, sans-serif;
  background-color: #000; /* White background color for the body */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  margin-top: 50px;
  box-shadow: 0 0 50px #0ef;
  border-radius: 20px;
}

.container:hover {

    animation: animate 1s linear infinite;

}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

h1 {
  color: white;
}

/* CSS styles for the box */
.link-shortener-container {
  background-color: #000; /* Light gray background color for the container */
  padding: 20px;
  border: 1px solid #ccc; /* Add a border with 1px width */
  border-radius: 20px; /* Add a 20px border radius */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Limit the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
  border-color: cyan;
}

/* CSS styles for the input field and button */
#originalLink {
  padding: 5px;
  width: 96%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 25px;
  border-bottom: 2px solid #fff;
}

button {
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #007bff; /* Blue button background color */
  color: #ffffff; /* White text color for the button */
  border: none;
  border-radius: 5px;
}

/* CSS styles for the result box */
/*.result-box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}*/

/* CSS styles for the div container of the shortened link */
#shortenedLinkContainer {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 15px;
  width: 94%;
  display: flex;
  align-items: center;
}

/* CSS styles for the copy button */
#copyButton {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff; /* Blue button background color */
  color: #ffffff; /* White text color for the button */
  border: none;
  border-radius: 5px;
}

/* CSS styles for the pop-up message */
#popupMessage {
  display: none;
  margin-top: 10px;
  background-color: #dff0d8;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* CSS styles for the header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  width: 100px; /* Adjust the width as per your image */
  height: 100px; /* Adjust the height as per your image */
  margin-right: 10px; /* Add some spacing between the image and text */
}

.header img::before {
  content: ""; /* Empty content to create a pseudo-element */
  display: block;
  width: 100%;
  height: 50%;
  background-color: white; /* Set the background color to match the box */
}